### Long Short-Term Memory (LSTM) networks are a type of recurrent neural network capable of learning order dependence in sequence prediction problems.

In [1]:
#!pip install pandas_datareader
#!pip install --upgrade tensorflow
#!pip install --upgrade pip
#!pip install tensorboard
#!pip install tensorboard-plugin-wit
#!pip install keras
#!pip install tensorflow

In [2]:
import pandas_datareader as pdr

In [3]:
import pandas as pd 
import numpy as np

In [4]:
key= 'fff8c98763bf1d72d90e64dfdd9f088316905eb7'

In [5]:
df= pdr.get_data_tiingo('AAPL',api_key=key)

In [6]:
df.head()

                                   close    high     low    open    volume  \
symbol date
AAPL   2015-11-25 00:00:00+00:00  118.03  119.23  117.92  119.21  21388308
       2015-11-27 00:00:00+00:00  117.81  118.41  117.60  118.29  13046445
       2015-11-30 00:00:00+00:00  118.30  119.41  117.75  117.99  39180322
       2015-12-01 00:00:00+00:00  117.34  118.81  116.86  118.75  34852374
       2015-12-02 00:00:00+00:00  116.28  118.11  116.08  117.05  33386563

                                   adjClose    adjHigh     adjLow    adjOpen  \
symbol date
AAPL   2015-11-25 00:00:00+00:00  27.334400  27.612307  27.308926  27.607675
       2015-11-27 00:00:00+00:00  27.283451  27.422404  27.234817  27.394613
       2015-11-30 00:00:00+00:00  27.396929  27.653993  27.269555  27.325137
       2015-12-01 00:00:00+00:00  27.174604  27.515039  27.063442  27.501144
       2015-12-02 00:00:00+00:00  26.929120  27.352927  26.882803  27.107443

                                  adjVolume  divCash  splitFactor
symbol date
AAPL   2015-11-25 00:00:00+00:00   85553232      0.0          1.0
       2015-11-27 00:00:00+00:00   52185780      0.0          1.0
       2015-11-30 00:00:00+00:00  156721288      0.0          1.0
       2015-12-01 00:00:00+00:00  139409496      0.0          1.0
       2015-12-02 00:00:00+00:00  133546252      0.0          1.0

In [7]:
df.to_csv('AAPL.csv')

In [8]:
df = pd.read_csv("AAPL.csv")

In [9]:
df.tail()

,symbol,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
1252,AAPL,2020-11-16 00:00:00+00:00,120.30,120.9900,118.146,118.92,91183018,120.30,120.9900,118.146,118.92,91183018,0.0,1.0
1253,AAPL,2020-11-17 00:00:00+00:00,119.39,120.6741,118.960,119.55,74270973,119.39,120.6741,118.960,119.55,74270973,0.0,1.0
1254,AAPL,2020-11-18 00:00:00+00:00,118.03,119.8200,118.000,118.61,76322111,118.03,119.8200,118.000,118.61,76322111,0.0,1.0
1255,AAPL,2020-11-19 00:00:00+00:00,118.64,119.0600,116.810,117.59,74112972,118.64,119.0600,116.810,117.59,74112972,0.0,1.0
1256,AAPL,2020-11-20 00:00:00+00:00,117.34,118.7700,117.290,118.64,73604287,117.34,118.7700,117.290,118.64,73604287,0.0,1.0

In [10]:
df.head()

,symbol,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,AAPL,2015-11-25 00:00:00+00:00,118.03,119.23,117.92,119.21,21388308,27.334400,27.612307,27.308926,27.607675,85553232,0.0,1.0
1,AAPL,2015-11-27 00:00:00+00:00,117.81,118.41,117.60,118.29,13046445,27.283451,27.422404,27.234817,27.394613,52185780,0.0,1.0
2,AAPL,2015-11-30 00:00:00+00:00,118.30,119.41,117.75,117.99,39180322,27.396929,27.653993,27.269555,27.325137,156721288,0.0,1.0
3,AAPL,2015-12-01 00:00:00+00:00,117.34,118.81,116.86,118.75,34852374,27.174604,27.515039,27.063442,27.501144,139409496,0.0,1.0
4,AAPL,2015-12-02 00:00:00+00:00,116.28,118.11,116.08,117.05,33386563,26.929120,27.352927,26.882803,27.107443,133546252,0.0,1.0

In [11]:
df.shape

(1257, 14)

In [12]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1257 entries, 0 to 1256
Data columns (total 14 columns):
symbol         1257 non-null object
date           1257 non-null object
close          1257 non-null float64
high           1257 non-null float64
low            1257 non-null float64
open           1257 non-null float64
volume         1257 non-null int64
adjClose       1257 non-null float64
adjHigh        1257 non-null float64
adjLow         1257 non-null float64
adjOpen        1257 non-null float64
adjVolume      1257 non-null int64
divCash        1257 non-null float64
splitFactor    1257 non-null float64
dtypes: float64(10), int64(2), object(2)
memory usage: 137.6+ KB

In [13]:
#Reseting the Index an creating a new column with CLOSE variable
df1 = df.reset_index()['close']

In [14]:
df1.shape

(1257,)

In [15]:
df1.head()

0    118.03
1    117.81
2    118.30
3    117.34
4    116.28
Name: close, dtype: float64

### Ploting the close Data

In [16]:
import matplotlib.pyplot as plt
plt.plot(df1)
plt.show()

## Scaling the Data

In [17]:
##LSTM are sensitive to the scale of the data, so we apply MinMax scaling

In [18]:
from sklearn.preprocessing import MinMaxScaler
scaler =  MinMaxScaler(feature_range=(0,1))
df1 = scaler.fit_transform(np.array(df1).reshape(-1,1))

In [19]:
df1.shape

(1257, 1)

In [20]:
df1

array([[0.06660253],
       [0.06607336],
       [0.06725195],
       ...,
       [0.06660253],
       [0.06806975],
       [0.06494287]])

# Training and Testing the data

Time series data cannot split usinf cv or random seed technique.
Also time series data is dependent on previous day data.

In [21]:
training_size = int(len(df1)*0.65) #65% data are used for training data
test_size=len(df1)-training_size
train_data,test_data=df1[0:training_size,:],df1[training_size:len(df1),:]

In [22]:
training_size,test_size # Shape of train and test data

(817, 440)

In [23]:
# Creating Function to train the model
def create_dataset(dataset, time_step = 1):
    dataX,dataY= [], [] 
    for i in range(len(dataset)-time_step-1): 
        a= dataset[i:(i+time_step),0]# i =0,1,2,3,4...100
        dataX.append(a)
        dataY.append(dataset[i + time_step, 0])
    return np.array(dataX),np.array(dataY)

In [24]:
time_step = 100
X_train,y_train =create_dataset(train_data,time_step)
X_test,y_test = create_dataset(test_data,time_step)

In [25]:
print(X_train.shape)

(716, 100)

In [26]:
# reshape input to be 3D which is Req is LSTM
X_train = X_train.reshape(X_train.shape[0],X_train.shape[1],1)
X_test = X_test.reshape(X_test.shape[0],X_test.shape[1],1)

In [27]:
X_train.shape,X_test.shape

((716, 100, 1), (339, 100, 1))

## Model Preparation

In [28]:
# Libraries rq for LSTM model

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM

In [29]:
model = Sequential()
model.add(LSTM(50,return_sequences=True,input_shape=(100,1)))
model.add(LSTM(50,return_sequences=True))
model.add(LSTM(50))
model.add(Dense(1))
model.compile(loss = 'mean_squared_error',optimizer='adam')

In [30]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 100, 50)           10400
_________________________________________________________________
lstm_1 (LSTM)                (None, 100, 50)           20200
_________________________________________________________________
lstm_2 (LSTM)                (None, 50)                20200
_________________________________________________________________
dense (Dense)                (None, 1)                 51
=================================================================
Total params: 50,851
Trainable params: 50,851
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs = 100,batch_size=64,verbose=1)

Epoch 1/100
12/12 [==============================] - 2s 146ms/step - loss: 0.0072 - val_loss: 0.0536
Epoch 2/100
12/12 [==============================] - 1s 116ms/step - loss: 0.0021 - val_loss: 0.0213
Epoch 3/100
12/12 [==============================] - 1s 118ms/step - loss: 6.5273e-04 - val_loss: 0.0211
Epoch 4/100
12/12 [==============================] - ETA: 0s - loss: 4.2195e-04

In [ ]:
import tensorflow as tf

In [ ]:
#Lets do the prediction and check performance metrics
train_predict = model.predict(X_train)
test_predict = model.predict(X_test)

In [ ]:
#transformback to original form
train_predict = scaler.inverse_transform(train_predict)
test_predict = scaler.inverse_transform(test_predict)

In [ ]:
## calculate RMSE performance metrics for training data
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_train,train_predict))

In [ ]:
## calculate RMSE performance metrics for testing data
np.sqrt(mean_squared_error(y_test,test_predict))

In [ ]:
#Shift train predictions for plotting
look_back = 100
trainpredictplot = np.empty_like(df1)
trainpredictplot[:,:] = np.nan
trainpredictplot[look_back:len(train_predict)+look_back,:] = train_predict

#shift test predictions for plotting
testpredicplot = np.empty_like(df1)
testpredicplot[:,:] = np.nan
testpredicplot[len(train_predict)+(look_back*2)+1:len(df1)-1,:]=test_predict

# plot baseline and predictions
plt.plot(scaler.inverse_transform(df1))
plt.plot(trainpredictplot)
plt.plot(testpredicplot)
plt.show()

In [ ]:
plt.plot(scaler.inverse_transform(df1))

In [ ]:
plt.plot(trainpredictplot)

In [ ]:
plt.plot(testpredicplot)

## Predicting for next 30 Days

In [ ]:

#test_data for previous 100 days, we will use this data for predicting next 30 days

temp_input = test_data[340:].reshape(1,-1) # taking last 100 values from test_data
temp_input= temp_input[0].tolist() ## taking 1D value from temp_input array and converting into list


predictions=[]                                
for i in range(1,31):                                                      
    if i == 1:                                                            #here we are taking i=1 because we would be predicting based on predefined 100 data points and from else part we would be predicting based on LIFO data points
        temp_input_arr= np.array(temp_input)                              #converting the list of 100 previous data into an array
        temp_input_arr= temp_input_arr.reshape(1, len(temp_input),1)      #reshaping array to 3d as per the requirement of tensorflow model
        y_hat1= model.predict(temp_input_arr)                             #predicting the value when i=1 using tensorflow model
        temp_input.extend(y_hat1[0].tolist())                             #extending and converting to list the y_hat predicted value to temp_input list
        predictions.extend(y_hat1[0].tolist())                            #storing the y_hat value to a 30 days prediction list
        print("day {} input {}". format(i,temp_input))
        print('prediction for day', i, y_hat1)
        print('======================================================')
       
    else:
        temp_input= temp_input[1:]                                       #transforming the temp_input list such that is has last 100 data points for the prediction of next day, means we are indexing is such a way that it removes the first element and adding the new prediction value
        temp_input_arr= np.array(temp_input)                             # again converting the list of 100 data into an array
        temp_input_arr= temp_input_arr.reshape(1, len(temp_input),1)     #reshaping array to 3d as per the requirement of tensorflow model
        y_hat1= model.predict(temp_input_arr)                            #predicting the value using tensorflow model
        temp_input.extend(y_hat1[0].tolist())                            #extending and converting to list the y_hat predicted value to temp_input list
        predictions.extend(y_hat1[0].tolist())                           #storing the y_hat value to a 30 days prediction list
        print("day {} input {}". format(i,temp_input))
        print('prediction for day', i, y_hat1)
        print('======================================================')


print('Predictions for next 30 days: ', '\n', predictions)

In [ ]:
x_input=test_data[340:].reshape(1,-1)
x_input.shape

In [ ]:

temp_input=list(x_input)
temp_input=temp_input[0].tolist()

In [ ]:
# demonstrate prediction for next 10 days




from numpy import array

lst_output=[]
n_steps=100
i=0
while(i<30):
    
    if(len(temp_input)>100):
        #print(temp_input)
        x_input=np.array(temp_input[1:])
        print("{} day input {}".format(i,x_input))
        x_input=x_input.reshape(1,-1)
        x_input = x_input.reshape((1, n_steps, 1))
        #print(x_input)
        yhat = model.predict(x_input, verbose=0)
        print("{} day output {}".format(i,yhat))
        temp_input.extend(yhat[0].tolist())
        temp_input=temp_input[1:]
        #print(temp_input)
        lst_output.extend(yhat.tolist())
        i=i+1
    else:
        x_input = x_input.reshape((1, n_steps,1))
        yhat = model.predict(x_input, verbose=0)
        print(yhat[0])
        temp_input.extend(yhat[0].tolist())
        print(len(temp_input))
        lst_output.extend(yhat.tolist())
        i=i+1
    

print(lst_output)

In [ ]:
day_new = np.arange(1,101)
day_pred= np.arange(101,131)
prediction_100days = scaler.inverse_transform(df1[1157:])
predictions_30days = scaler.inverse_transform(np.array(predictions).reshape(-1,1))

In [ ]:
predictions_30days

In [ ]:
plt.plot(day_new,prediction_100days)
plt.plot(day_pred,predictions_30days)
plt.show()

In [ ]:
dt = prediction_100days.reshape(-1,).tolist()
dt.extend(predictions_30days.reshape(-1,).tolist())

In [ ]:
df3= pd.DataFrame()
df3['Predictions'] = dt
df3.index = df3.index + 1
df3.index.set_names('Days',inplace=True)

In [ ]:
df3

In [ ]:
plt.plot(df3)